.git
.gitignore
README.md
Dockerfile
docker-compose.yml
compose.yaml
compose.override.yaml
.dockerignore
var/cache/*
var/log/*
var/sessions/*
vendor/
node_modules/
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db 