{% extends 'base.html.twig' %}

{% block title %}{{ 'album.total'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'album.total'|trans }}</h1>
        <p>{{ 'album.listing_page'|trans }}</p>
    </div>
{% endblock %} 